<head>
    <title>Courses</title>
</head>
    <body>
        <h1 class="title">University of Edinburgh Past Paper Share</h1>
        <%= render partial: "home/navbar"%>

    <div class="paper-list">
        <h2>Courses</h2>
            <% @courses.each do |course| %>
                <div class="course">
                    <p><%= course.name %></p>
                </div>
            <% end %>
    </div>
</body>
