<nav class="navbar">
    <% if @user.nil? %>
        <div class="navbar-right">
            <%= button_to 'Login', login_path, method: :get, class:'button' %>
            <%= button_to 'Sign up', new_user_path, method: :get, class:'button' %>
        </div>
    <% else %>
        <div class="navbar-right">
            <h5>Welcome, <%= @user&.email %></h5>
            <%= button_to 'Logout', logout_path, method: :delete, class:'button' %>
        </div>
    <% end %>
</nav>
