<h1>Hello, World!</h1>
<%= link_to 'Login', login_path %>
<%= link_to 'Sign up', new_user_path %>

<embed
    src="https://exampapers.ed.ac.uk/bitstream/handle/20.500.12593/119088/2023600_INFR10067.pdf?sequence=1&isAllowed=y"
    type="application/pdf"
    frameBorder="0"
    scrolling="auto"
    height="100%"
    width="100%"
></embed>
