<head>
    <title>UoE Past Paper Share</title>
</head>

<body>
    <h1 class="title">University of Edinburgh Past Paper Share</h1>
    <%= render partial: "navbar"%>

    <embed
        src="https://exampapers.ed.ac.uk/bitstream/handle/20.500.12593/119088/2023600_INFR10067.pdf?sequence=1&isAllowed=y"
        type="application/pdf"
        frameBorder="0"
        scrolling="auto"
        height="100%"
        width="100%"
    >
</body>
