<h1>Hello, World!</h1>
<%= link_to 'Login', login_path %>
<%= link_to 'Sign up', new_user_path %>

<embed
    src="http://infolab.stanford.edu/pub/papers/google.pdf#toolbar=0&navpanes=0&scrollbar=0"
    type="application/pdf"
    frameBorder="0"
    scrolling="auto"
    height="100%"
    width="100%"
></embed>
