<head>
    <title>UoE Past Paper Share</title>
</head>

<body>
    <h1 class="title">University of Edinburgh Past Paper Share</h1>
    <%= render partial: "navbar"%>

    <embed
        src="PaperPDFs/Security-2019.pdf"
        type="application/pdf"
        frameBorder="0"
        scrolling="auto"
        height="100%"
        width="100%"
    >
</body>
