body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}
.title {
    color: #333;
    font-size: 30px;
    text-align: center;
}
.navbar {
    background-color: #c2d4f9;
    height: 50px;
    position: sticky;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-right {
    display: flex;
    float: right;
}
.navbar input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 10px;
    font-size: 17px;
    border-radius: 5px;
  }

.button {
    background-color: #092538;
    color: #fff;
    border: none;
    margin: 4px 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
.button:hover {
    background-color: #2980b9;
  }


.course {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #c2d4f9;
    border: solid 3px black;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.course:hover {
    background-color: #f4f4f4;
}

