body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}
h1 {
    color: #333;
    font-size: 30px;
    text-align: center;
}
.button {
    background-color: #0c2979;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.navbar {
    background-color: #c2d4f9;
    height: 50px;
    font-size: 1.7rem;
    position: sticky;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar button {
    display: flex;
    justify-content: center;
    align-items: right;
    float: right;
    margin: 5px;
}
